{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Mata Kuliah</title>
{% endblock meta %}

{% block content %}
<div class="main pt-3">
    <div class="container">
        <div class="rounded-lg mb-3 p-3 card-form">
            <h3>Mata Kuliah {{ mata_kuliah.nama }}</h3>
            <div class="col p-auto m-auto">
                <p>Semester {{ mata_kuliah.semester }}</p>
            </div>
            <div class="col p-auto m-auto">
                <p>Ruangan perkuliahan di {{ mata_kuliah.ruangan }}</p>
            </div>
            <div class="col p-auto m-auto">
                <p>Dosen pengajar adalah {{ mata_kuliah.dosen }}</p>
            </div>
            <div class="col p-auto m-auto">
                <p>Kuliah ini mengambil {{ mata_kuliah.jumlah_sks }} SKS</p>
            </div>
            <div class="detail-description rounded-lg p-2">
                {{ mata_kuliah.deskripsi }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}