{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 5 Hadi</title>
{% endblock meta %}

{% block content %}
    {% for mata_kuliah in mata_kuliah_list %}
    <div class="card-form p-3 row mb-3 rounded-lg">
      <div class="col-9">
        <h2 class="p-auto m-auto">
          <a class="link-matkul" href="{{mata_kuliah.get_absolute_url}}">
            {{mata_kuliah.nama}}
          </a>
        </h2>
        <p class="p-auto m-auto">Ruangan perkuliahan di {{mata_kuliah.ruangan}}</p>
        <p class="p-auto m-auto">Klik nama mata kuliah untuk melihat lebih lanjut</p>
      </div>
      <div class="col-3 d-flex justify-content-center align-items-center">
        <form action="{% url 'story5_app:hapus_matkul' mata_kuliah.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger" type="input>">
            Hapus mata kuliah
          </button>
        </form>
      </div>
    </div>
    {% empty %}
    <h2 class="text-center">Silakan masukkan mata kuliah di bagian "Tambah Mata Kuliah"</a></h2>
    {% endfor %}
  </div>
</div>
{% endblock content %}
