{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Mata Kuliah</title>
{% endblock meta %}

{% block content %}
    <div class="main pt-3">
        <h2 class="text-center">Tambah Mata Kuliah</h2>
        <div class="container">
            <div class="rounded-lg mb-3 p-3 card-form">
                <form method="POST" action="{% url 'story5_app:tambah_matkul' %}">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="nama-matkul" class="col-sm-2 col-form-label">Matkul</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="nama-matkul" placeholder="Nama mata kuliah" name="nama" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col">
                            <p class="p-auto m-auto">Pilihan Semester</p>
                            <select class="form-control mb-1" name="semester" required>
                                <option value="Gasal 2019/2020">Gasal 2019/2020</option>
                                <option value="Genap 2019/2020">Genap 2019/2020</option>
                                <option value="Gasal 2020/2021">Gasal 2020/2021</option>
                                <option value="Genap 2020/2021">Genap 2020/2021</option>
                                <option value="Gasal 2021/2022">Gasal 2021/2022</option>
                                <option value="Genap 2021/2022">Genap 2021/2022</option>
                                <option value="Gasal 2022/2023">Gasal 2022/2023</option>
                                <option value="Genap 2022/2023">Genap 2022/2023</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ruangan-matkul" class="col-sm-2 col-form-label">Ruangan</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="ruangan-matkul" placeholder="Nama/kode ruangan" name="ruangan" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dosen-matkul" class="col-sm-2 col-form-label">Dosen</label>
                        <div class="col-sm-10">
                            <input class="form-control" id="dosen-matkul" placeholder="Dosen pengajar" name="dosen" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="sks-matkul" class="col-sm-2 col-form-label">SKS</label>
                        <div class="col-sm-10">
                            <input type="number" min="1" max="10" placeholder="Masukkan angka 1-10" class="form-control" id="sks-matkul" name="jumlah_sks" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <textarea placeholder="Deskripsi singkat mata kuliah (max 400 karakter)" class="form-control input-description p-2 m-4" name="deskripsi" required></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary">Tambah Mata Kuliah</button>
                        </div>
                    </div>     
                </form>
            </div>
        </div>
    </div>
{% endblock content %}