{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Peserta</title>
{% endblock meta %}

{% block content %}
<h1>Keterangan peserta {{peserta.nama}}</h1>
<h3>Kegiatan yang diikuti ada {{peserta.kegiatan_set.all|length}}, yaitu</h3>
<ol>
    {% for kegiatan in peserta.kegiatan_set.all %}
    <li><a class="kegiatan-content" href="{{kegiatan.get_absolute_url}}">{{kegiatan.nama}}</a></li>
    {% endfor %}
</ol>
<!--Janlup tambahin 2 </div> biar ketutup (DONE)-->
</div>
</div>
{% endblock content %}