{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Detail Kegiatan</title>
{% endblock meta %}

{% block content %}
<div class="row">
    <div class="col-lg-8 col-sm-12">
        <h1><a class="kegiatan-content" href="{{kegiatan.get_absolute_url}}">Nama Kegiatan: {{kegiatan.nama}}</a></h1>
        <ol class="px-5">
            <form action="{% url 'story6_app:hapus_peserta' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value={{kegiatan.id}} name="kegiatan_id">
                {% for peserta in kegiatan.peserta.all %}
                    <li>
                        <a class="kegiatan-content" href="{{peserta.get_absolute_url}}">{{peserta.nama}}</a>
                        <button class="ml-1 px-1 text-light border-0 p-0 bg-danger d-inline" value="{{peserta.nama}}" name="nama" type="submit">Hapus Peserta</button>
                    </li>
                    <br>
                {% endfor %}
            </form>
        </ol>
    </div>

    <div class="col-lg-4 col-sm-12">
        <div class="card-form p-3 rounded-lg text-center">
            <h3>Tambah Peserta</h3>
            <form action="{% url 'story6_app:tambah_peserta' id=kegiatan.id %}" method="POST" class="d-flex justify-content-center align-items-center flex-column mt-2">
                {% csrf_token %}
                {{peserta_form}}
                <input class="btn btn-primary mt-2" type="submit" value="Tambah Peserta">
            </form>
        </div>
    </div>
</div>
<!--Janlup tambahin 2 </div> biar ketutup (DONE)-->
</div>
</div>
{% endblock content %}