{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 6 Hadi</title>
{% endblock meta %}

{% block content %}
<div class="row px-2">
    {% for kegiatan in kegiatan_items %}
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card-form p-2 rounded-lg d-flex justify-content-center align-items-center flex-column mb-3 border border-white">
            <h3>
                <a class="kegiatan-content" href="{{kegiatan.get_absolute_url}}">{{kegiatan.nama}}</a>
            </h3>
            <h4>Peserta:</h4>
            <div class="overflow-auto list-peserta">
                <ol class="px-5">
                    <form action="{% url 'story6_app:hapus_peserta' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" value="{{kegiatan.id}}" name="kegiatan_id">
                        {% for peserta in kegiatan.peserta.all %}
                            <li>
                                <a class="kegiatan-content" href="{{peserta.get_absolute_url}}">{{peserta.nama}}</a>
                                <button class="ml-1 px-1 text-light border-0 p-0 bg-danger d-inline" value="{{peserta.nama}}" name="nama" type="submit">Hapus Peserta</button>
                            </li>
                        {% endfor %}
                    </form>
                </ol>
            </div>
            <div>
                <form action="{% url 'story6_app:tambah_peserta' id=kegiatan.id %}" method="POST" class="d-flex justify-content-center align-items-center flex-column mt-2">
                    {% csrf_token %}
                    {{peserta_form}}
                    <input class="btn btn-primary mt-2" type="submit" value="Tambah Peserta">
                </form>
            </div>
        </div>
    </div>
    {% empty %}
    <h1 class="text-center">Silakan tambahkan kegiatan baru di bagian "Tambah Kegiatan Baru"</h1>
    {% endfor %}
</div>
<!--Janlup tambahin 2 </div> biar ketutup (DONE)-->
</div>
</div>
{% endblock content %}