{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Tambah Kegiatan</title>
{% endblock meta %}

{% block content %}
<div>
    <form class="d-flex justify-content-center align-items-center flex-column" action="{% url 'story6_app:tambah_kegiatan' %}" method="POST">
        <h3>Tambah Kegiatan</h3>
        {% csrf_token %}
        {{kegiatan_form}}
        <input class="btn btn-primary mt-2" type="submit" value="Tambahkan Kegiatan">
    </form>
</div>
<!--Janlup tambahin 2 </div> biar ketutup (DONE)-->
</div>
</div>
{% endblock content %}