/* Project-wide style */

@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
}

.bg-navbar {
  background-color: #a3c4bc;
}

.main {
  min-height:calc(100vh - 56px);
  background-color: #f2dda4;
}

.card-form {
  background-color: #bfd7b5;
}

.input-description {
  min-height: 200px;
}

.detail-description {
  background-color: #ccd5ff;
  border:2px solid white;
}

.link-matkul {
  color: black;
}

.kegiatan-content {
  color: black;
}

.list-peserta {
  height: 175px;
  max-width: 270px;
}